{% extends 'layout/layout.twig' %}

{% block content %}
	<form method="post" action="index.php?page=login&method=register">
		<div class="form-group">
			<label for="text">Pseudo</label>
			<input type="text" name="pseudo" class="form-control" id="passwrd" placeholder="Pseudo">
		</div>
	</br>
	<div class="form-group">
		<label for="email">Email address</label>
		<input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email">
	</div>
</br>
<div class="form-group">
	<label for="passwrd">Mot de passe</label>
	<input type="password" name="password1" class="form-control" id="passwrd" placeholder="Password">
</div></br><div class="form-group">
<label for="passwrd">Confirmer le mot de passe</label>
<input type="password" name="password2" class="form-control" id="passwrd" placeholder="Password"></div></br><button type="submit" class="btn btn-primary">Inscription</button></form>{% endblock %}
