<div class="row">
    <div class="col">
      <p>Copyright 2020 - Kinder Théo</p>
    </div>
</div>
<div class="row">
    <div class="col">
        <a href="cv_kinder_theo.pdf">Télécharger mon CV</a>
    </div>
</div>
<div class="row">
    <div class="col">
     <a href="www.twitter.com/kinder.theo">Twitter</a>
    </div>
</div>
<div class="row">
    <div class="col">
      <a href="www.github.com/kinder.theo">GitHub</a>
    </div>
</div>
