<div class="container" style="padding-top: 60px;">
    <div class="row ">
        <p>Copyright 2019 - Kinder Théo</p>
    </div>
    <div class="row">
        <a href="cv_kinder_theo.pdf">Télécharger mon CV</a>

        <a href="www.twitter.com/kinder.theo">Twitter</a>
        <a href="www.github.com/kinder.theo">GitHub</a>
    </div>


</div>